* {
  margin: 0;
}

.container-metrica {

  
  height: 100vh;
  background-repeat: no-repeat;

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}



.metrica-esquerda {
  background-image: url(../assets/imgs/gianis-metrica.jpg);
  width: 50%;
  height: 100vh;
  background-size: cover;
border-radius: 8px;
  background-position: center;


}

.metrica-direita {
  display: flex;
  background-color:#1d1d1d;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
color: aliceblue;
flex-direction: column;

}
.container-texto{

padding: 20px;





}
.container-grafico{


height: 50vh;
width: 100%;



}

.container-cards{



height: 50vh;
width: 100%;

display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;

}

.card-metrica{
justify-content: center;
width: 40%;
display: flex;
height: 255px;
background-color: #323232;
border-radius: 9px;
padding: 10px;
}



#myChart{
width: 100%;

}