
* {
    margin: 0;
}

.container-login{
display: flex;
height: 100vh;
background-repeat: no-repeat;
justify-content: space-around;
    background-image: url(thumb-1920-278449.jpg);
align-items: center;
    background-size: cover;
    color: aliceblue;
}


.loginmeio{

display: flex;

justify-content: space-around;

background-position: center;
color: aliceblue;
background-image: url();
margin-left: 50px;
background-image: url(/);
}



.loginmeio form{
color: aliceblue;

display: flex;

justify-content: space-around;


}

.container-login .btn-box{

display: flex;
justify-content: space-around;
flex-direction: row;


    }


    